<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>firstProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>Controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>StudentControllerFilter</filter-name>
    <filter-class>Controller.StudentControllerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentControllerFilter</filter-name>
    <url-pattern>/list</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>   
    <servlet-name>picture</servlet-name>
    <servlet-class>Controller.picture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>picture</servlet-name>
    <url-pattern>/picture</url-pattern>
  </servlet-mapping>
</web-app>